body{
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
  background:#fff;
}

header{
  background-image: linear-gradient(to right, #feaf77, #ffd05e, #56c6b1, #ff4ab4, #feaf77);
  color:white;
}

.left-header{
  text-align: left;
  padding: 20px;
}

.right-header{
  text-align: right;
  padding: 20px;
}

.title{
  text-align: center;
  padding: 20px;
}

nav a{
  margin:0 15px;
  text-decoration:none;
  color:black;
}

.grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  padding:40px;
}

.show img{
  width:100%;
}

.show{
  text-decoration:none;
  color:black;
}